<!DOCTYPE html>
<html ng-app="Gallery">
<head>
	<title>Gallery</title>
	<link rel="stylesheet" href="public/assets/css/gallery.css">
	<link href="http://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet" type="text/css">
	<script src="public/assets/js/angular.min.js"></script>
	<script src="public/assets/js/gallery.js"></script>
</head>
<body>
<header>
	<h1>Gallery</h1>
</header>
<div ng-controller="GalleryController" class="container">
	<div class="main-content">
		<h1>Image Gallery</h1>
		<ul id="polaroid">
			<li>
				<figure ng-click="imageName(&quot;P1000101.JPG&quot;)">
					<img src="public/assets/gallery/P1000101.JPG" alt="Quelque part" title="Quelque part" width="308" height="173">
					<figcaption>Quelque part</figcaption>
				</figure>
			</li>
			<li>
				<figure ng-click="imageName(&quot;P1000103.JPG&quot;)">
					<img src="public/assets/gallery/P1000103.JPG" alt="Quelque part" title="Quelque part" width="308" height="173">
					<figcaption>Quelque part</figcaption>
				</figure>
			</li>
			<li>
				<figure ng-click="imageName(&quot;P1000154.JPG&quot;)">
					<img src="public/assets/gallery/P1000154.JPG" alt="74150 Rumilly, France" title="74150 Rumilly, France" width="308" height="173">
					<figcaption>74150 Rumilly, France</figcaption>
				</figure>
			</li>
			<li>
				<figure ng-click="imageName(&quot;P1000155.JPG&quot;)">
					<img src="public/assets/gallery/P1000155.JPG" alt="74150 Rumilly, France" title="74150 Rumilly, France" width="308" height="173">
					<figcaption>74150 Rumilly, France</figcaption>
				</figure>
			</li>
			<li>
				<figure ng-click="imageName(&quot;P1000170.jpg&quot;)">
					<img src="public/assets/gallery/P1000170.jpg" alt="74330 Poisy, France" title="74330 Poisy, France" width="308" height="173">
					<figcaption>74330 Poisy, France</figcaption>
				</figure>
			</li>
			<li>
				<figure ng-click="imageName(&quot;P1000172.JPG&quot;)">
					<img src="public/assets/gallery/P1000172.JPG" alt="74330 Poisy, France" title="74330 Poisy, France" width="308" height="173">
					<figcaption>74330 Poisy, France</figcaption>
				</figure>
			</li>
			<li>
				<figure ng-click="imageName(&quot;P1000211.JPG&quot;)">
					<img src="public/assets/gallery/P1000211.JPG" alt="Chamonix, France" title="Chamonix, France" width="308" height="173">
					<figcaption>Chamonix, France</figcaption>
				</figure>
			</li>
			<li>
				<figure ng-click="imageName(&quot;P1000214.JPG&quot;)">
					<img src="public/assets/gallery/P1000214.JPG" alt="Chamonix, France" title="Chamonix, France" width="308" height="173">
					<figcaption>Chamonix, France</figcaption>
				</figure>
			</li>
			<li>
				<figure ng-click="imageName(&quot;P1000315.JPG&quot;)">
					<img src="public/assets/gallery/P1000315.JPG" alt="38000 Grenoble, France" title="38000 Grenoble, France" width="308" height="173">
					<figcaption>38000 Grenoble, France</figcaption>
				</figure>
			</li>
		</ul>
	</div>
	<footer>
		<p>Running on node with Express, Jade, Stylus {{'and AngularJS'}}</p>
	</footer>
	<div class="map-container">
		<div id="map-content">MAP name: {{name}}</div>
	</div>
</div>
</body>
</html>