<!-- http://cssdemos.tupence.co.uk/image-polaroid.htm#support -->
extend layout
block content
  h1 Image Gallery
  ul(id="polaroid")
    for image in images
      include image
block map-content
    #map-content MAP name: {{name}}
